= link_to raw("&larr; back"), :back

%h2 edit your profile

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification

  .inputs
    .l
      = f.input :email, :required => true, :autofocus => true, :label => 'e-mail'
      = f.input :password, :required => false, :label => 'password', :hint => "leave blank if you don't want to change your passwor"
      = f.input :password_confirmation, :required => false, :label => 'password confirmation'
    .l
      = f.input :status, :required => true, :label => 'are you coming?', :collection => { :yes => 1, :no => 0, :maybe => 2 }, :include_blank => false
    .l
      = f.input :full_name, :required => true, :label => 'full name', :placeholder => 'your full name (for the badge)'
      = f.input :homepage, :label => 'homepage', :placeholder => 'your homepage', :as => :string
      = f.input :position, :label => 'job title', :placeholder => 'what you work as'
      = f.input :company, :label => 'company name', :placeholder => 'where you work'
      = f.input :company_url, :label => 'company homepage', :placeholder => 'your company\'s homepage', :as => :string
    .l
      = f.input :first_barcamp, :label => "this is my first barcamp"
      = f.input :tshirt_size, :required => true, :label => "choose your t-shirt size", :collection => %w(WXS WS WM WL WXL XS S M L XL XXL 3XL 4XL 5XL 6XL), :include_blank => false
    .l
      = f.input :comment, :label => 'comment', :placeholder => 'anything you want to let the world know'
  .actions
    = f.button :submit, "update profile"

%h2 link other profiles

- if devise_mapping.omniauthable?
  %ul.auth_provider
  - resource_class.omniauth_providers.each do |provider| 
    %li= link_to "sign in with #{provider.to_s.downcase}", omniauth_authorize_path(resource_name, provider)

%h2 delete profile

= link_to "delete my profile", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
