#back= link_to "â† back", root_path

%h2 participants

.yes
  %h3
    attending
    = "(#{@users[:yes].size})"
  %ul.userlist
    - @users[:yes].each do |user|
      %li.usertile= render :partial => 'shared/user', :locals => { :user => user }

- if @users[:maybe].size > 0
  .maybe
    %h3
      possibly attending
      = "(#{@users[:maybe].size})"
    %ul.userlist
      - @users[:maybe].each do |user|
        %li.usertile= render :partial => 'shared/user', :locals => { :user => user }
