.u
  .a
    = link_to image_tag(user.image, :alt => user.name), user.url
  .nc
    .name= user.name
    .links
      = link_to user.provider.capitalize, user.url, :class => "icon-#{user.provider}"
    .more
      - if user.position.present? && user.company.present?
        %span.position= user.position
        at
        - if user.company_url
          %span.company= link_to user.company, user.company_url
        - else
          %span.company= user.company
      - else
        %span.comment= user.comment
