.u
  .a
    - if user.image
      = image_tag(user.image, :alt => user.full_name)
  .nc
    .name= user.full_name
    .links
      - if false
        = link_to user.provider.capitalize, user.url, :class => "icon-#{user.provider}"
    .more.overflow-fade-x
      .position
        - if user.position.present? && user.company.present?
          %span.position= user.position
          %span.at @
          - if user.company_url
            %span.company= link_to user.company, user.company_url
          - else
            %span.company= user.company
        - else
          &nbsp;
      .comment
        %span.comment= user.comment
