.u
  .a
    = image_tag(user.image || 'default-user.png', :alt => user.full_name)
  .nc
    .name= user.full_name
    .links
      - if user.homepage.present?
        = link_to 'homepage', user.homepage, :class => 'icon-website'
      - user.tokens.each do |token|
        = link_to token.provider.capitalize, token_link(token), :class => "icon-#{token.provider}"
    .more.overflow-fade-x
      .position
        - if user.position.present?
          %span.position= user.position
        - if user.position.present? && user.company.present?
          %span.at @
        - if user.company.present?
          - if user.company_url
            %span.company= link_to user.company, user.company_url
          - else
            %span.company= user.company
        - else
          &nbsp;
      .comment
        %span.comment= user.comment
