<h2>Wir so <em>Hamburg<span>++</span></em></h2>

<h3>Idee und Umsetzung</h3>
<p>Die Idee hatten <%= link_to 'René Sasse', 'https://twitter.com/renehamburg' %>, <%= link_to 'Martin Thielecke', 'https://twitter.com/mthie' %> und <%= link_to 'Matthias Bauer', 'https://twitter.com/moeffju' %> auf Twitter ausgeheckt. Mit der Umsetzung angefangen haben wir am Donnerstag, dem 12. Mai 2011 bei der Gadget Night, und in der selben Nacht wurde diese Seite gebaut.</p>
<p>Die Organisation und Durchführung machten <%= link_to 'Matthias Bauer', 'https://twitter.com/moeffju' %>, <%= link_to 'René Sasse', 'https://twitter.com/renehamburg' %> und <%= link_to 'Volker Graubaum', 'http://e-netconsulting.de/' %> vom Freitag, dem 13. Mai bis Montag, dem 17. Mai.</p>

<h3>Geholfen haben uns</h3>
<p><%= link_to 'Sven Kräuter', 'https://twitter.com/sven_kr' %>, mit dem wir uns wegen der Umsetzung dieser Seite unterhalten haben. Er hat mich daran erinnert, dass für unsere Zwecke <tt>omniauth</tt> völlig ausreichend ist.</p>
<p><%= link_to 'Liron Tocker', 'http://liron.de/' %>, die einfach mal so das Logo gebastelt hat.</p>
<p>Außerdem hätten wir nicht innerhalb von zwei Stunden eine Webseite mit Registrierung und Twitter- und Facebook-Integration bauen können, ohne auf den Schultern von Riesen zu stehen. Danke:</p>
<ul class="h">
<li><%= link_to image_tag('/images/rails-logo.png', :alt => 'Ruby on Rails'), 'http://rubyonrails.org/' %></li>
<li><%= link_to image_tag('/images/omniauth-logo.png', :alt => 'Omniauth'), 'https://github.com/intridea/omniauth' %></li>
<li><%= link_to image_tag('/images/compass-logo.png', :alt => 'Compass'), 'http://compass-style.org/' %></li>
<li><%= link_to image_tag('/images/haml-logo.png', :alt => 'Haml'), 'http://haml-lang.com/' %></li>
<li><%= link_to image_tag('/images/sass-logo.png', :alt => 'Sass'), 'http://sass-lang.com/' %></li>
</ul>
