- content_for :javascripts do
  :javascript
    $(function(){
      $('#maybe').hide();
      $('#maybe h3 a').click(function(e){
        $('#maybe').hide();
        $('#yes').show();
        e.preventDefault();
        return false;
      });
      $('#yes h3 a').click(function(e){
        $('#yes').hide();
        $('#maybe').show();
        e.preventDefault();
        return false;
      });
    });
- content_for :header do
  %meta{property:"og:title", content:"agile design camp"}
  %meta{property:"og:type", content:"website"}
  %meta{property:"og:url", content:"http://www.agiledesigncamp.org/"}
  %meta{property:"og:image", content:"http://agiledesigncamp.org/images/facebook-image.png"}
  %meta{property:"og:site_name", content:"agile design camp"}
  %meta{property:"og:description", content:'Das agile design camp ist ein Barcamp zum Thema Agile Design. Agile Design dreht sich um die Integration der Arbeit von Designern in agile Softwareentwicklung, das Neudenken der Rolle von Design, und strukturiertes Denken.'}

#whatis
  %h2
    what is agile design?
    %small= link_to 'read on…', '/about'
  %p agile design is about integrating the designer's work into agile software development, rethinking the role of design and thinking in structures and pathways. agile design is user-driven, collaborative and open to change, and aims to deliver simple and rapid results. agile design is a new concept, not yet fully understood and seldom practised. this is why we have to talk about it.

#eventbox
  #eventdata
    agile design camp
    %br
    23./24. juli 2011
    %br
    = link_to 'betahaus hamburg', 'http://hamburg.betahaus.de/'
  - if current_user and current_user.status == 1
    = link_to 'edit your profile', edit_user_registration_path
  - else
    = link_to 'register now', new_user_registration_path

- user_limit = 6
#participants
  %h2
    participants
    %small= link_to 'show all', users_path
  %ul.userlist
    - @users[:yes][0,user_limit].each do |user|
      %li.usertile= render :partial => 'shared/user', :locals => { :user => user }
    - if @users[:yes].size > user_limit
      %li= link_to "show all #{@users[:yes].size} participants", users_path

#newsfeed
  %h2
    keynote
    - if false
      %small= link_to 'show all', news_index_path
  %p We are happy to announce Jeremy Tai Abbett (#{link_to '@jeremytai', 'https://twitter.com/jeremytai'}) as keynote speaker.
  %p Jeremy Tai Abbett is a teacher, hacker, strategist, interaction designer, and co-founder of Fork Unstable Media and Truth Dare Double Dare. Truth Dare Double Dare is a multi-disciplinary design firm with the goal of developing meaningful interactions through the intersection of art and technology.
  %p In his previous life, Jeremy was an award winning creative director, with three projects that were acquired by the Museum of Modern Art – San Francisco, a vert skater and a game that enraged the British Monarchy to his credit. He resides in Hamburg, Germany with his wife and two boys.

#sponsors
  %h2
    sponsors
    %small= link_to 'info for sponsors', sponsoring_path
  %ul
    - @sponsors.each do |sponsor|
      %li
        - unless sponsor.image_url.empty?
          = link_to image_tag(sponsor.image_url), sponsor.url, :alt => sponsor.name, :title => sponsor.name
        - else
          %big= link_to sponsor.name, sponsor.url, :title => sponsor.name
