<% content_for :javascripts do %>
<script type="text/javascript">
  $(function(){
    $('#maybe').hide();
    $('#maybe h3 a').click(function(e){
      $('#maybe').hide();
      $('#yes').show();
      e.preventDefault();
      return false;
    });
    $('#yes h3 a').click(function(e){
      $('#yes').hide();
      $('#maybe').show();
      e.preventDefault();
      return false;
    });
  });
</script>
<% end %>
<div id="was">
  <h2>worum geht es?</h2>
  <p>Yada yada...</p>
</div>

<div id="wann">
  <h2>wann?</h2>
  <p><strong>22.–24. Juli 2011</strong></p>
</div>

<div id="wo">
  <h2>wo?</h2>
  <p>Location tbd.</p>
</div>

<div id="rsvp" class="<%- if current_user %>status-<%= current_user.status %><% else %>status-none<% end %>">
  <%- if current_user %>
    <%- if current_user.status == 1 %>
      <h2>Das klingt gut! Ich bin dabei!</h2>
      <%= form_for current_user, :as => :user, :url => {:action => :rsvp} do |f| %>
      <%= f.text_field :comment, :placeholder => 'Kommentar' %>
      <%= f.submit 'Leider doch nicht :(', :name => 'no', :id => 'bn' %> <%= f.submit 'Aber nur vielleicht', :name => 'maybe', :id => 'bm' %>
      <% end %>
    <% elsif current_user.status == 2 %>
      <h2>Ich weiß noch nicht, ob ich das schaffe.</h2>
      <%= form_for current_user, :as => :user, :url => {:action => :rsvp} do |f| %>
      <%= f.text_field :comment, :placeholder => 'Kommentar' %>
      <%= f.submit 'Ja, ich kann!', :name => 'yes', :id => 'by' %> <%= f.submit 'Leider nicht.', :name => 'no', :id => 'bn' %>
      <% end %>
    <% else %>
      <h2>Ich schaff's leider nicht :(</h2>
      <%= form_for current_user, :as => :user, :url => {:action => :rsvp} do |f| %>
      <%= f.text_field :comment, :placeholder => 'Kommentar' %>
      <%= f.submit 'Doch, ich schaffe es!', :name => 'yes', :id => 'by' %> <%= f.submit 'Vielleicht doch!', :name => 'maybe', :id => 'bm' %>
      <% end %>
    <% end %>
  <% else %>
    <h2>Klingt das gut? Machst Du mit?</h2>
    <%= form_for current_user, :as => :user, :url => {:action => :rsvp} do |f| %>
    <%= f.text_field :comment, :placeholder => 'Kommentar' %>
    <%= f.submit 'Ja', :name => 'yes', :id => 'by' %> <%= f.submit 'Nein', :name => 'no', :id => 'bn' %> <%= f.submit 'Vielleicht', :name => 'maybe', :id => 'bm' %>
    <% end %>
  <% end %>
</div>
 
<div id="participants">
  <h2>teilnehmerliste</h2>
  <div class="ptc" id="yes">
    <h3>ja<%- if @users.include?(:yes) %> (<%= @users[:yes].size %>)<% end %> <a href="#maybe">vielleicht<%- if @users.include?(:maybe) %> (<%= @users[:maybe].size %>)<% end %></a></h3>
    <ul>
      <%- @users[:yes].each do |user| %>
      <li><%= render :partial => 'user', :locals => { :user => user } %></li>
      <%- end %>
    </ul>
  </div>
  <div class="ptc" id="maybe">
    <h3>vielleicht<%- if @users.include?(:maybe) %> (<%= @users[:maybe].size %>)<% end %> <a href="#yes">ja<%- if @users.include?(:yes) %> (<%= @users[:yes].size %>)<% end %></a></h3>
    <ul>
      <%- @users[:maybe].each do |user| %>
      <li><%= render :partial => 'user', :locals => { :user => user } %></li>
      <%- end %>
    </li>
  </div>
</div>

<div id="sponsors">
  <h2>sponsoren<small> (<%= link_to 'Info für Sponsoren', '/sponsoring' %>)</small></h2>
  <p>Vielen Dank an:</p>
  <ul>
    <% @sponsors.each do |sponsor| %>
    <li>
    <% if sponsor.image.present? %>
      <%= link_to image_tag(sponsor.image.url), sponsor.url, :alt => sponsor.name, :title => sponsor.name %>
    <% else %>
      <big><%= link_to sponsor.name, sponsor.url, :title => sponsor.name %></big>
    <% end %>
    </li>
    <% end %>
  </ul>
</div>
