- content_for :javascripts do
  :javascript
    $(function(){
      $('#maybe').hide();
      $('#maybe h3 a').click(function(e){
        $('#maybe').hide();
        $('#yes').show();
        e.preventDefault();
        return false;
      });
      $('#yes h3 a').click(function(e){
        $('#yes').hide();
        $('#maybe').show();
        e.preventDefault();
        return false;
      });
    });

#was
  %h2
    what?
    %small
      = link_to 'read on…', '/about'
  %h4 agile design is about
  %ul
    %li integrating the designer's work into agile software development.
    %li rethinking the role of design.
    %li thinking in structures and pathways instead of pages and visuals.
  %h4 agile design is
  %ul
    %li user-driven.
    %li collaborative and open to change. 
    %li aiming at delivering simple and rapid results.
  %h4 agile design is a new concept, not yet fully understood and seldom practised. this is why we have to talk about it.

#wann
  %h2 when?
  %p
    %strong july 23./24., 2011
  %p (timetable tba.)

#wo
  %h2 where?
  %p
    %strong hamburg
  %p (exact location tba.)

#rsvp{ :class => (current_user ? "status-#{current_user.status}" : "status-none") }
  - if current_user
    - if current_user.status == 1
      %h2 Count me in!
      = form_for current_user, :as => :user, :url => {:action => :rsvp} do |f|
        = f.text_field :comment, :placeholder => 'Comment'
        = f.submit 'Sorry, can\'t make it', :name => 'no', :id => 'bn'
        = f.submit 'Just maybe', :name => 'maybe', :id => 'bm'
    - elsif current_user.status == 2
      %h2 Not sure I can make it
      = form_for current_user, :as => :user, :url => {:action => :rsvp} do |f|
        = f.text_field :comment, :placeholder => 'Comment'
        = f.submit 'Yes I can!', :name => 'yes', :id => 'by'
        = f.submit '\'fraid not', :name => 'no', :id => 'bn'
    - else
      %h2 I can't attend :(
      = form_for current_user, :as => :user, :url => {:action => :rsvp} do |f|
        = f.text_field :comment, :placeholder => 'Comment'
        = f.submit 'Yes I can!', :name => 'yes', :id => 'by'
        = f.submit 'Maybe I can!', :name => 'maybe', :id => 'bm'
  - else
    %h2 Sound good? You in?
    = form_for current_user, :as => :user, :url => {:action => :rsvp} do |f|
      = f.text_field :comment, :placeholder => 'Comment'
      = f.submit 'Yeah', :name => 'yes', :id => 'by'
      = f.submit 'No', :name => 'no', :id => 'bn'
      = f.submit 'Maybe', :name => 'maybe', :id => 'bm'
 
#participants
  %h2 participants
  .ptc#yes
    %h3
      = participants_header(@users, :yes, 'yes')
      = link_to participants_header(@users, :maybe, 'maybe'), '#maybe'
    %ul
      - @users[:yes].each do |user|
        %li= render :partial => 'user', :locals => { :user => user }
  .ptc#maybe
    %h3
      = participants_header(@users, :maybe, 'maybe')
      = link_to participants_header(@users, :yes, 'yes'), '#yes'
    %ul
      - @users[:maybe].each do |user|
        %li= render :partial => 'user', :locals => { :user => user }

#sponsors
  %h2
    sponsors
    %small
      (
      = link_to 'info for sponsors', '/sponsoring'
      )
  %p thanks to:
  %ul
    - @sponsors.each do |sponsor|
      %li
        - if sponsor.image.present?
          = link_to image_tag(sponsor.image.url), sponsor.url, :alt => sponsor.name, :title => sponsor.name
        - else
          %big= link_to sponsor.name, sponsor.url, :title => sponsor.name
