%h2 Timetable

.col
  %h3 Saturday, July 23rd
  %table.timetable
    %tbody
      %tr
        %th 09:00
        %td Doors open
      %tr
        %th 09:00 – 11:30
        %td Breakfast
      %tr
        %th 10:00
        %td Sponsor intro: #{link_to 'XING', '/sponsors'}
      %tr
        %th 10:05
        %td
          Keynote: #{link_to 'Jeremy Tai Abbett', '/#newsfeed'}
          %br
          "Agile is to ______ as design is to programming."
      %tr
        %th 10:30
        %td Begin session planning
      %tr
        %th 11:30 – 13:00
        %td Sessions (45 minutes each: 30 min. session/15 min. break)
      %tr
        %th 13:00
        %td Lunch
      %tr
        %th 14:00 – 18:30
        %td Sessions (45 minutes each: 30 min. session/15 min. break)
      %tr
        %th 18:30
        %td
          Fireside chat:
          %br
          Björn Jensen, Jeremy Tai Abbett, N.N.
      %tr
        %th afterwards
        %td agile design camp party @ #{link_to "kopiba", 'http://kopiba.de/'}

.col.last
  %h3 Sunday, July 24th
  %table.timetable
    %tbody
      %tr
        %th 09:00
        %td Doors open
      %tr
        %th 09:00 – 11:30
        %td Breakfast
      %tr
        %th 10:00
        %td Sponsor intro: #{link_to 'mindmatters', 'http://mindmatters.de/'}
      %tr
        %th 10:05
        %td Begin session planning
      %tr
        %th 11:00 – 13:00
        %td Sessions (45 minutes each: 30 min. session/15 min. break)
      %tr
        %th 13:00
        %td Lunch
      %tr
        %th 14:00 – 16:00
        %td Sessions (45 minutes each: 30 min. session/15 min. break)
      %tr
        %th 16:00
        %td Wrap-up session
      %tr
        %th afterwards
        %td #{link_to "hacktable", 'http://hacktable.com/'}

%h3 Keynote: Jeremy Tai Abbett: "Agile is to ______ as design is to programming."
%p Jeremy Tai Abbett is a teacher, hacker, strategist, interaction designer, and co-founder of Fork Unstable Media and Truth Dare Double Dare. Truth Dare Double Dare is a multi-disciplinary design firm with the goal of developing meaningful interactions through the intersection of art and technology.
%p In his previous life, Jeremy was an award winning creative director, with three projects that were acquired by the Museum of Modern Art – San Francisco, a vert skater and a game that enraged the British Monarchy to his credit. He resides in Hamburg, Germany with his wife and two boys.

%h3 Fireside Chat: Björn Jensen, Jeremy Tai Abbett, Sebastian Deterding
%p tba
