%h2 Allgemeines zum Ablauf

%p Sessionformat: je 45 Minuten: 30 Minuten Session, 15 Minuten Pause.

.col
  %h3 Samstag, 23. Juli
  %table.timetable
    %tbody
      %tr
        %th 09:00
        %td Doors open
      %tr
        %th 09:00 – 11:30
        %td Frühstück
      %tr
        %th 10:00
        %td Sponsor-Intro: #{link_to 'XING', '/sponsors'}
      %tr
        %th 10:05
        %td Keynote: #{link_to 'Jeremy Tai Abbett', '/#newsfeed'}
      %tr
        %th 10:30
        %td Beginn Sessionplanung
      %tr
        %th 11:30 – 13:00
        %td Sessions
      %tr
        %th 13:00
        %td Lunch
      %tr
        %th 14:00 – 18:30
        %td Sessions
      %tr
        %th 18:30
        %td
          Kamingespräch:
          %br
          Björn Jensen, Jeremy Tai Abbett, Sebastian Deterding
      %tr
        %th danach
        %td agile design camp party @ #{link_to "kopiba", 'http://kopiba.de/'}

.col.last
  %h3 Sonntag, 24. Juli
  %table.timetable
    %tbody
      %tr
        %th 09:00
        %td Doors open
      %tr
        %th 09:00 – 11:30
        %td Frühstück
      %tr
        %th 10:00
        %td Sponsor-Intro: #{link_to 'mindmatters', 'http://mindmatters.de/'}
      %tr
        %th 10:05
        %td Beginn Sessionplanung
      %tr
        %th 11:00 – 13:00
        %td Sessions
      %tr
        %th 13:00
        %td Lunch
      %tr
        %th 14:00 – 16:00
        %td Sessions
      %tr
        %th 16:00
        %td Abschluss-Session
      %tr
        %th danach
        %td #{link_to "hacktable", 'http://hacktable.com/'}
