<%= form_for [:admin, @sponsor], :html => {:multipart => true} do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <% if @sponsor.image_url %><%= image_tag(@sponsor.image_url) %><br><% end %>
    <%= f.text_field :image_url, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => 100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
