.u
  .a
    = link_to image_tag(user.image, :alt => user.full_name), edit_admin_user_path(user)
  .nc
    .name= link_to user.full_name, edit_admin_user_path(user)
    .links
      = link_to user.provider.capitalize, user.url, :class => "icon-#{user.provider}"
    .more
      - if user.position.present? && user.company.present?
        %span.position= user.position
        %span.at at
        - if user.company_url
          %span.company= link_to user.company, user.company_url
        - else
          %span.company= user.company
      - else
        %span.comment= user.comment
